.counter {
  font-size: 25px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    margin-left: 15px;
    margin-right: 15px;
    border: none;
    background-color: #fff;
    &:hover {
      color: orangered;
    }
    &:active {
      opacity: 0.6;
    }
  }
}
